MPESA_CONSUMER_KEY=your_consumer_key_here
MPESA_CONSUMER_SECRET=your_consumer_secret_here
MPESA_SHORTCODE=174379
MPESA_PASSKEY=your_passkey_here
MPESA_CALLBACK_URL=https://yourdomain.com/api/mpesa/callback
MPESA_ENVIRONMENT=sandbox
MONGODB_URI=mongodb+srv://kennyutugi_db_user:pharmacy@pharmacy.qbnqpzn.mongodb.net/?appName=pharmacy
PORT=3001
ALLOWED_ORIGINS=http://localhost:5173,https://yourdomain.com
